<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>

<button onclick="Get()">Load Table</button>


<button onclick="qrscan()">Click to Scan</button>

<button onclick="showInput()">Add Item</button>

<div id = "inputbox" style="display:none;">
    
    <input type="text" id="category" placeholder="Enter data for Category code" maxlength="20" required>
    <input type="text" id="type" placeholder="Enter Type (eg,. Telescope)" maxlength="20" required>
    <button onclick="qrmaker()">Create QR</button>

</div>

<table border="1">
    <thead>
        <tr>
            <th style="width: 30px;">   ID </th>
            <th style="width: 50px;">Code</th>
            <th style="width: 50px;">Category</th>
            <th style="width: 50px;">Type</th>
            <th style="width: 50px;">Status</th>
            <th style="width: 50px;">Actions</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

<div id="modifyBox" style="display:none;">
    
    Category:
        <input type="text" id="modifyCategory" placeholder="Category"><br>

    <!--RADIO-->
        <input type="radio" id="statusAvailable" name="Status" value="Available">
            <label for="statusAvailable">Available</label><br>

        <input type="radio" id="statusBorrowed" name="Status" value="Borrowed">
            <label for="statusBorrowed">Borrowed</label><br>

        <input type="radio" id="statusUnavailable" name="Status" value="Unavailable">
            <label for="statusUnavailable">Unavailable</label><br>

    Type:
        <input type="text" id="modifyType" placeholder="Type"><br>

    <button onclick="modifyItem(selectedItemID)">Save</button>
  
</div>




<p id="data"></p>


<!--JAVASCRIPT / FUNCTIONS -->
<script src="{{ url_for('static', filename='script.js') }}" defer></script>


</body>
</html>